body {
  background-color: #282a36;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.content, .nav, header {
  padding-left: 5vw;
  padding-right: 5vw;
}

header {
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: #44475a;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #8be9fd;
}
header img {
  max-height: 100%;
  flex-shrink: 1;
  height: 4em;
}
header h3 {
  margin: 0;
  font-size: 2.5em;
  color: #282a36;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffb86c;
}

.nav {
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 4vw;
  border-bottom: 5px solid #ffb86c;
}
.nav input[type=radio] {
  visibility: hidden;
  position: absolute;
}
.nav input[type=radio]:checked + .users {
  border-color: #ffb86c;
  color: #ffb86c;
  background-color: #44475a;
}
.nav input[type=radio]:checked + .weekly {
  border-color: #ff79c6;
  color: #ff79c6;
  background-color: #44475a;
}
.nav input[type=radio]:checked + .subs {
  border-color: #ff5555;
  color: #ff5555;
  background-color: #44475a;
}
.nav .users:hover {
  border-color: #ffb86c;
  color: #ffb86c;
  background-color: #44475a;
}
.nav .weekly:hover {
  border-color: #ff79c6;
  color: #ff79c6;
  background-color: #44475a;
}
.nav .subs:hover {
  border-color: #ff5555;
  color: #ff5555;
  background-color: #44475a;
}
.nav label {
  width: 10vw;
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  border: 2px solid #44475a;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  color: #f8f8f2;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.4em;
}

.sales {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.sales .ytd {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 160px;
  height: 160px;
  background-color: #8be9fd;
}
.sales .ytd .amount {
  font-size: 25px;
}
.sales .ytd .label {
  margin: 0;
  text-align: center;
}
.sales .target {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 160px;
  height: 160px;
  background-color: #8be9fd;
}
.sales .target .perc {
  top: 30px;
  position: relative;
  font-size: 30px;
}
.sales .target .targettext {
  top: 30px;
  position: relative;
  font-size: 20px;
}
.sales .target .border {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #f8f8f2;
}
.sales .target .circle {
  position: relative;
  text-align: center;
  width: 105px;
  height: 105px;
  border-radius: 100%;
  background-color: #8be9fd;
}
.sales .graph {
  flex-grow: 1;
  border-radius: 10px;
  width: 51%;
  height: 160px;
  background-color: #f8f8f2;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4vw;
  row-gap: 4vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  border: 2px solid #ffb86c;
  border-radius: 10px;
}
.content .widget figure {
  margin: 0;
  border: 2px solid #ffb86c;
  border-radius: 10px;
  padding: 10px;
}
.content .widget figure figcaption {
  text-align: center;
  color: white;
}
.content .widget figure img, .content .widget figure iframe {
  height: 20vw;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
