$drac-black:  #282a36;
$drac-gray:   #44475a;
$drac-white:  #f8f8f2;
$drac-navy:   #6272a4;
$drac-red:    #ff5555;
$drac-yellow: #f1fa8c;
$drac-orange: #ffb86c;
$drac-green:  #50fa7b;
$drac-cyan:   #8be9fd;
$drac-purple: #bd93f9;
$drac-pink:   #ff79c6;