@use "_colors";

$margins: 5vw;
$theme-bg: colors.$drac-black;
$theme-navbg: colors.$drac-gray;
$theme-text: colors.$drac-white;

$nav-users: colors.$drac-orange;
$nav-weekly: colors.$drac-pink;
$nav-subs: colors.$drac-red;