@use "_colors.scss";



body{
    background-color: colors.$theme-bg;
    overflow-x:hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;

    font-size: 16px;
}


$margins: 5vw;
%margins{
    padding-left: $margins;
    padding-right: $margins;
}
@mixin outline($width, $color, $fill:transparent){
    color: $fill;
    -webkit-text-stroke-width: $width;
    -webkit-text-stroke-color: $color;
}



.header {
    @extend %margins;
    padding-top: 2vw;
    padding-bottom: 2vw;


    background-color: colors.$theme-navbg;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    
    border-bottom: 2px solid colors.$drac-cyan;

    img {
        max-height: 100%;
        flex-shrink: 1;
        height: 4em;
    }
    h3{
        margin:0;
        font-size: 2.5em;
        // text-shadow: 0px 0px 10px colors.$drac-orange, 0px 0px 10px colors.$drac-orange, 0px 0px 10px colors.$drac-orange;
        @include outline(1px, colors.$drac-orange, colors.$drac-black);

    }

}

.nav{
    @extend %margins;

    margin-top: 2vw;
    margin-bottom: 2vw;

    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap:4vw;

    border-bottom: 3px solid colors.$drac-orange;

    div{
        width: 10vw;
        flex-grow: 1;


        display:inline-flex;
        align-items: center;

        border: 2px solid colors.$drac-gray;
        border-bottom: none;
        border-radius: 10px 10px 0 0 ;


    }
}