@use "_colors";
@use "_variables";


body {
    background-color: variables.$theme-bg;
    overflow-x:hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;

    font-size: 16px;
}

%margins {
    padding-left: variables.$margins;
    padding-right: variables.$margins;
}
@mixin outline($width, $color, $fill:transparent) {
    color: $fill;
    -webkit-text-stroke-width: $width;
    -webkit-text-stroke-color: $color;
}
@mixin salesbox($width: 10vw, $height: 10vw, $backgroundcolor: colors.$drac-cyan) {
    width: $width;
    height: $height;
    background-color: $backgroundcolor
}


header {
    @extend %margins;
    padding-top: 2vw;
    padding-bottom: 2vw;


    background-color: variables.$theme-navbg;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    
    border-bottom: 2px solid colors.$drac-cyan;

    img {
        max-height: 100%;
        flex-shrink: 1;
        height: 4em;
    }
    h3{
        margin:0;
        font-size: 2.5em;
        // text-shadow: 0px 0px 10px colors.$drac-orange, 0px 0px 10px colors.$drac-orange, 0px 0px 10px colors.$drac-orange;
        @include outline(1px, colors.$drac-orange, colors.$drac-black);

    }

}

@mixin checked($color){
    border-color: $color;
    color: $color;
    background-color: variables.$theme-navbg;
}


.nav{
    @extend %margins;

    margin-top: 2vw;
    margin-bottom: 2vw;

    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap:4vw;

    border-bottom: 3px solid colors.$drac-orange;

    input[type=radio]{
        visibility: hidden;
        position: absolute;
    }

    input[type=radio]:checked + .users{
        @include checked(variables.$nav-users);
    }
    input[type=radio]:checked + .weekly{
        @include checked(variables.$nav-weekly);
    }
    input[type=radio]:checked + .subs{
        @include checked(variables.$nav-subs);
    }

    .users:hover{
        @include checked(variables.$nav-users);
    }
    .weekly:hover{
        @include checked(variables.$nav-weekly);
    }
    .subs:hover{
        @include checked(variables.$nav-subs);
    }

    label{
        width: 10vw;
        flex-grow: 1;
        
        display:inline-flex;
        align-items: center;

        border: 2px solid colors.$drac-gray;
        border-bottom: none;
        border-radius: 10px 10px 0 0 ;

        color: colors.$drac-white;
    }
}
// Drac-cyan
.sales {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    .ytd {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        @include salesbox();
    }
    .target {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .perc {
            top: 30px;
            position: relative;
            font-size: 30px;
        }
        .targettext {
            top: 30px;
            position: relative;
            font-size: 20px;
        }
        .border {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;
            width: 8vw;
            height: 8vw;
            border-radius: 100%;
            background-color: colors.$drac-white;
        }
        .circle {
            position: relative;
            text-align: center;
            width: 7vw;
            height: 7vw;
            border-radius: 100%;
            background-color: colors.$drac-cyan;
        }
        @include salesbox();
    }
    .graph {
        flex-grow: 1;
        border-radius: 10px;
        @include salesbox(20vw, 10vw, colors.$drac-white);
    }
}



.content {
    display: flex;
}

figure {
    max-width: 100%;
    max-height: fit-content;
    border: 2px solid colors.$drac-orange;
}

figure img {
    max-width: 100%;
    max-height: auto;
}

figcaption {
    text-align: center;
    color: white;
}