@use "_colors.scss";



body{
    background-color: colors.$theme-bg;
    overflow-x:hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}


$margins: 5vw;
%margins{
    padding-left: $margins;
    padding-right: $margins;
}

.header {
    @extend %margins;

    background-color: colors.$theme-navbg;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid colors.$drac-cyan;

}

.nav{
    @extend %margins;

    margin-top: 2vw;
    margin-bottom: 2vw;

    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap:4vw;


    div{
        width: 10vw;
        flex-grow: 1;


        display:inline-flex;
        align-items: center;
        border: 2px solid colors.$drac-gray;
    }
}